<h1> Coupon: <%= @coupon.name %> </h1>

  <p><b>Code:</b> <%= @coupon.code %> </p>
  <p><b>Discount Percentage:</b> <%= number_to_percentage(@coupon.percent, precision: 0) %> </p>
  <%= button_to 'Edit', edit_merchant_coupon_path(@coupon.id), method: :get %>
  <%= button_to 'Delete', merchant_coupon_path(@coupon.id), method: :delete %>
